# IT1050 Module 9 – In‑Class SQL Lab (SQLite on Binder)
**Student Name:** (type here)  
**Date:** 2025-10-22

This notebook is a *self‑contained* version of the lab. Run each cell to see the output for your screenshots.

## Lab Setup
We will use a local SQLite database file named `StudentDB_demo.db`. The `%sql` magic lets us run SQL directly.

In [ ]:
# Install (Binder auto-installs via requirements.txt, but keep for local runs)
import sys, subprocess, os, sqlite3, pandas as pd
try:
    import IPython, sqlalchemy # noqa
except Exception:
    subprocess.run([sys.executable, "-m", "pip", "install", "ipython-sql", "SQLAlchemy", "pandas"], check=True)

# Load SQL magic and connect to SQLite DB file
%load_ext sql
%sql sqlite:///StudentDB_demo.db

# Helper: show existing tables
%%sql
SELECT name AS table_name
FROM sqlite_master
WHERE type='table'
ORDER BY name;

## Task 1: Create Tables
Create `Students` and `Courses` tables.

In [ ]:
%%sql
DROP TABLE IF EXISTS Enrollments;
DROP TABLE IF EXISTS Students;
DROP TABLE IF EXISTS Courses;

CREATE TABLE Students (
  student_id INTEGER PRIMARY KEY,
  first_name VARCHAR(50),
  last_name  VARCHAR(50),
  age INT,
  GPA DECIMAL(3,2),
  email VARCHAR(100)
);

CREATE TABLE Courses (
  course_id INTEGER PRIMARY KEY,
  course_name VARCHAR(100),
  credits INT
);

-- Show tables after creation
SELECT name AS table_name
FROM sqlite_master
WHERE type='table'
ORDER BY name;

## Task 2: Add Foreign Key Relationship
Create `Enrollments` with `student_id` and `course_id` as foreign keys.

In [ ]:
%%sql
PRAGMA foreign_keys = ON;

CREATE TABLE Enrollments (
  enrollment_id INTEGER PRIMARY KEY,
  student_id INT,
  course_id INT,
  enrollment_date TEXT,
  FOREIGN KEY (student_id) REFERENCES Students(student_id),
  FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

-- Show schema of Enrollments
PRAGMA table_info('Enrollments');

## Task 3A: Insert Data into Tables
Insert at least two rows in `Students` and `Courses`, and link them via `Enrollments`.

In [ ]:
%%sql
-- Insert Students
INSERT INTO Students (student_id, first_name, last_name, age, GPA, email) VALUES
  (1, 'John', 'Doe', 17, 3.50, 'john.doe@example.com'),
  (2, 'Jane', 'Smith', 15, 4.00, 'jane.smith@example.com');

-- Insert Courses
INSERT INTO Courses (course_id, course_name, credits) VALUES
  (1, 'Database Systems', 3),
  (2, 'Data Structures', 4);

-- Insert Enrollments
INSERT INTO Enrollments (enrollment_id, student_id, course_id, enrollment_date) VALUES
  (1, 1, 1, '2024-10-01'),
  (2, 2, 2, '2024-10-02');

-- Show current data
SELECT * FROM Students;
SELECT * FROM Courses;
SELECT * FROM Enrollments;

## Task 3B: Add Your Details
Edit the values to add your own row to `Students` (use your name, age, email, and an estimated GPA).

In [ ]:
%%sql
-- Change these values and re-run to add your own record
INSERT INTO Students (student_id, first_name, last_name, age, GPA, email) VALUES
  (3, 'YourFirst', 'YourLast', 18, 3.80, 'your.name@example.com');

SELECT * FROM Students ORDER BY student_id;

## Task 4: Query the Database 1
Select everything from `Students`.

In [ ]:
%%sql
SELECT * FROM Students;

## Task 5: Query the Database 2 (JOIN)
Show student names and the courses they are enrolled in.

In [ ]:
%%sql
SELECT s.first_name, s.last_name, c.course_name
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Courses c ON e.course_id = c.course_id
ORDER BY s.last_name, s.first_name;

## Task 6: Update Records
Update the email for `student_id = 1`.

In [ ]:
%%sql
UPDATE Students
SET email = 'new.email@example.com'
WHERE student_id = 1;

SELECT * FROM Students WHERE student_id = 1;

## Task 7: Delete Records
Delete one record from `Enrollments` (e.g., `enrollment_id = 1`). Show the table after deletion.

In [ ]:
%%sql
DELETE FROM Enrollments WHERE enrollment_id = 1;

SELECT * FROM Enrollments ORDER BY enrollment_id;

## Conclusion & Reflection
You’ve created tables, defined foreign keys, inserted records, run joins, updated, and deleted data.

**Reflect:** What was most challenging? What do you want to review before the next lab?